.row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}


.row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.category {
    width: 100%;
}

.tr {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 0.1fr;
    text-align: left;
    margin: auto;
    font-size: 14px;
}