.row {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}

.row2 {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    gap: 20px;
}

.tr {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr .02fr;
    text-align: left;
    margin: auto;
    font-size: 14px;
}
