.allocationWrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border: 1px solid black;
    padding: 5px;
    background-color: #edf8ff;
    margin-top: 5px;
    height: 200px;
}

.formBase {
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    width: 100%;
}

.addButton {
    background-color: #edf8ff;
    border: 0.2px solid rgba(123, 123, 123, 0.187);
    cursor: pointer;
    font-weight: 200;
    color: rgb(112, 112, 112);
    font-size: 14px;
}

.allocationRow {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.allocationRow select, .allocationRow input {
    border: 0.2px solid rgba(123, 123, 123, 0.187);
    font-size: 12px;
    padding: 2px;
    width: 100%;
}

.allocation select {
    width: 70%;
}

.allocationRow input {
    min-width: 0;
    padding-left: 5px;
}

.tr {
    width: 90%;
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 0.8fr 0.8fr 0.1fr;
    text-align: left;
    margin: auto;
    font-size: 14px;
}

.tr2 {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 0.1fr;
    text-align: left;
    margin: auto;
    font-size: 14px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 10px;
    margin-bottom: -5px;
}

.row input {
    min-width: 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.buttons button {
    width: 100%;
}

.filterGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    width: 90%;
    margin-bottom: 30px;
}

.filterGrid button, .filterGrid select, .filterGrid input{
    background-color: #edf8ff;
    border: 1px solid black;
    margin: 5px 0;
    padding: 5px 5px;
    min-width: 0;
}


