.title {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 35px;
    margin: 10px 0 0 50px;
    width: 100px;
}

.tableWrapper {
    width: 100%;
    overflow-y:scroll;
    height: 175px;
}

.tableWrapper2 {
    width: 100%;
    overflow-y:scroll;
    height: 117px;
}

.table {
    border-collapse: collapse;
}

.table, .thead {
    width: 100%;
}

.tr {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    margin: auto;
    font-size: 14px;
}

.th, .td {
    padding: 5px 5px;
    background-color: #edf8ff;
    border: 1px solid #4a494926;
}